body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;


}

p {


    font-size: 18px;
    line-height: 1.7;
    margin: 10px 0;
    color: rgb(34, 33, 27);
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
    padding: 8px 12px;
}

h1 {

    font-size: 32px;
    font-weight: bold;
    color: #9faa07;
    letter-spacing: 2p
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: #587506;
    letter-spacing: 2px;



}







.designer-section {

    color: #000;
    padding: 60px 20px;
}

.designer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.designer-left {
    text-align: center;
}

.designer-left h3 {

    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
}

.designer-image {
    width: 200px;
    height: auto;
    border-radius: 20px;

    object-fit: cover;
}

.designer-right {

    max-width: 350px;
    text-align: left;
}

.designer-right h1 {

    font-size: 2.2rem;
    margin-bottom: 5px;
    line-height: 1.1;
}

.designer-right h1 span {
    color: #000;
}

.designer-right h4 {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}

.designer-right ul {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.designer-right li {
    margin: 6px 0;
    font-size: 1rem;
}


img {

    border: 2px solid rgb(117, 89, 29);
    width: 250px;
    box-shadow: o 5px 15px rgba(177, 91, 91, 0.1);
    padding: 5px;
    transition: transform 0.3s, box shadow o.3s;
    filter: brightness(1.1) contrast(1.2);
    border-radius: 50%;
}

img.hover {
    transition: scale[1.05];

}

.slider {
    width: 80%;
    max-width: 800px;
    height: 300px;
    overflow: scroll;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: static;
    border-radius: 12px;

}

.slides {
    display: flex;
    transition: opacity 0.3s ease;
    width: 200;

}

.slides img {
    width: 250px;
    border-radius: 20px;
    object-fit: cover;
    margin: 5px;
    padding: 10px;

}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(0);
    }

}

.about {
    background-color: hwb(197 75% 6%);
    color: #131111;
    padding: 40px 20px;
    margin: 40px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2 {
    margin-top: 0;
    padding-bottom: 2px solid rgb(31, 196, 9);
    display: inline-block;
    color: tomato;
}

.contact {


    color: rgb(70, 55, 55);
    padding: 20px 0;
    margin-top: 40px;
    border-top: 2px solid #d4af37
}


.contact h2 {
    margin-bottom: 10px;
    color: rgb(250, 97, 70);
}

.contact p {
    color: #555;
    margin-bottom: 25px;

}

.contact a {
    color: #52b863;
    text-decoration: none;
    margin: 0 10px;
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: hsl(60, 7%, 11%);
    color: rgb(231, 208, 2);
    padding: 10px 0;
    margin-top: 20px;
    border-top: 2px solid #d4af37
}

footer p {
    margin: 0;
    color: hsl(59, 100%, 52%);
}

footer a {
    color: #cecec0;
    text-decoration: none;
}